* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Raleway', sans-serif;
}

html .body__dulcecapricho, body .body__dulcecapricho {
  background-color: #82C1E8;
  min-height: 100%;
}

.nav-item a {
  -webkit-transition: background-color .2;
  transition: background-color .2;
}

.nav-item a:hover {
  background-color: #82C1E8;
  border-radius: 15px;
}

.header {
  background-color: #FAAF82;
}

.navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-collapse .navbar-brand {
  color: white;
  text-shadow: 1px 0px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
}

.navbar-light .navbar-nav .nav-link.active {
  color: white;
  text-shadow: 1px 0px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
  margin: 0px 25px;
}

.footer {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAAF82;
}

.container .lista__footer {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2rem;
  margin-top: 13px;
}

.main__titulo h1 {
  padding: 1rem;
  text-align: center;
  color: white;
  text-shadow: 0px 3px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
  font-size: 2rem;
}

.ig__container {
  margin-bottom: 6rem;
}

.ig__container .ig__text {
  text-align: center;
  color: white;
  text-shadow: 0px 3px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
  font-size: 1rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.ig__container .ig__text:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card-body a {
  text-decoration: none;
  color: white;
  background-color: #82C1E8;
  border-radius: 5px;
  padding: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card-body a:hover {
  color: antiquewhite;
}

@media screen and (min-width: 1024px) {
  .ig__container .ig__text {
    font-size: 2rem;
  }
  .titulo h1 {
    font-size: 3rem;
  }
}

.main__productos .main__titulo__productos {
  color: white;
  text-shadow: 0px 3px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
  text-align: center;
  font-size: 2rem;
}

.main__productos .main__productos___festivos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 15px;
}

.main__productos .main__productos___festivos img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.main__productos .main__productos___festivos .main__productos___festivos1, .main__productos .main__productos___festivos .main__productos___festivos2, .main__productos .main__productos___festivos .main__productos___festivos3 {
  width: 100%;
  height: 98%;
  border-radius: 5px;
  overflow: hidden;
  background: gray;
  -webkit-box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  text-align: center;
  color: white;
}

.main__productos .main__productos___festivos .main__productos___festivos1:hover, .main__productos .main__productos___festivos .main__productos___festivos2:hover, .main__productos .main__productos___festivos .main__productos___festivos3:hover {
  -webkit-box-shadow: 6px 14px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 14px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-1%);
          transform: translateY(-1%);
}

.main__productos .main__productos___festivos .main__productos___festivos1 h2, .main__productos .main__productos___festivos .main__productos___festivos2 h2, .main__productos .main__productos___festivos .main__productos___festivos3 h2 {
  font-size: 1rem;
  padding-top: 0.5rem;
}

.catalogo__productos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 5px;
  gap: 0.2rem;
}

.catalogo__productos img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding-bottom: .3rem;
}

.catalogo__imagen {
  width: 100%;
  height: 98%;
  border-radius: 5px;
  overflow: hidden;
  background: gray;
  -webkit-box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  text-align: center;
  color: white;
}

.catalogo__imagen:hover {
  -webkit-box-shadow: 6px 14px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 14px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-1%);
          transform: translateY(-1%);
}

.catalogo__imagen h2 {
  font-size: 1rem;
  padding-bottom: .5rem;
}

@media screen and (min-width: 1024px) {
  .main__productos h3, .main__productos h1 {
    font-size: 55px;
    padding: 15px;
  }
  .main__productos .main__productos___festivos {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 32px;
  }
  .catalogo__productos {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    gap: 36px;
  }
}

.nosotros__titulo {
  margin: 15px;
}

.nosotros__titulo h1 {
  text-align: center;
  font-size: 28px;
  text-align: start;
  color: white;
  text-shadow: 0px 3px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
  padding: 10px;
}

.nosotros__titulo h1 strong {
  font-weight: 100;
}

.nosotros__titulo .nosotros__descripcion {
  background-color: #FAAF82;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
}

.nosotros__titulo p {
  font-size: 1rem;
  padding: 5px;
}

.container-contacto {
  margin-top: 5rem;
  margin-bottom: 9rem;
}

.container-contacto .contacto-dulcecapricho {
  background-color: #FAAF82;
}

@media screen and (min-width: 1024px) {
  .nosotrosDescripcion h1 {
    font-size: 39px;
  }
  .nosotrosDescripcion p {
    font-size: 20px;
  }
}

.novedades__titulo {
  text-align: center;
  margin-top: 10px;
  color: white;
  text-shadow: 0px 3px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
}

.article__novedades {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 15px;
}

.article__novedades img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.article__novedades h2 {
  font-size: 20px;
  padding: 5px;
  text-decoration: underline;
  color: white;
}

.article__novedades p {
  font-size: 1rem;
  color: white;
  margin: 3px;
}

.article__novedades-uno, .article__novedades-dos, .article__novedades-tres {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  background: gray;
  -webkit-box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.article__novedades-uno:hover, .article__novedades-dos:hover, .article__novedades-tres:hover {
  -webkit-box-shadow: 6px 14px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 14px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

.novedades__mapa {
  text-align: center;
  margin: 1rem;
}

.novedades__mapa p {
  margin: 1rem;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0px 3px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
}

@media screen and (min-width: 1024px) {
  .article__novedades {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    padding: 50px;
  }
  .body-novedades h1 {
    font-size: 43px;
  }
  .novedades-mapa p {
    font-size: 2rem;
  }
}

.main__carrito {
  height: 50rem;
}

.main__carrito .carrito-cantidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__carrito .carrito-cantidad h1 {
  color: white;
  text-shadow: 0px 3px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
  margin: 0.5rem;
}

.main__carrito a {
  text-decoration: none;
  color: white;
  text-shadow: 0px .1px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
  margin: 0.5rem;
}

.main__carrito .number-of-items {
  position: relative;
  right: 0.5rem;
}

.main__carrito .carrito__items {
  text-align: center;
  margin-top: 5rem;
}

.main__carrito .carrito__text {
  text-align: center;
  margin-top: 9rem;
  color: white;
  text-shadow: 0px .1px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
}
/*# sourceMappingURL=main.css.map */