* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Raleway', sans-serif;
}

html .body-dulcecapricho, body .body-dulcecapricho {
  background-color: #82C1E8;
  min-height: 100%;
}

.nav-item a {
  -webkit-transition: background-color .2;
  transition: background-color .2;
}

.nav-item a:hover {
  background-color: #82C1E8;
  border-radius: 15px;
}

.header {
  background-color: #FAAF82;
}

.navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-collapse .navbar-brand {
  color: white;
  text-shadow: 1px 0px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
}

.navbar-light .navbar-nav .nav-link.active {
  color: white;
  text-shadow: 1px 0px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
  margin: 0px 25px;
}

.footer {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAAF82;
}

.container .lista-footer {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2rem;
  margin-top: 13px;
}

.titulo h1 {
  padding: 1rem;
  text-align: center;
  color: white;
  text-shadow: 0px 3px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
  font-size: 2rem;
}

.ig__container {
  margin-bottom: 6rem;
}

.ig__container .ig__text {
  text-align: center;
  color: white;
  text-shadow: 0px 3px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
  font-size: 1rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.ig__container .ig__text:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card-body a {
  text-decoration: none;
  color: white;
  background-color: #82C1E8;
  border-radius: 5px;
  padding: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card-body a:hover {
  color: antiquewhite;
}

@media screen and (min-width: 1024px) {
  .ig__container .ig__text {
    font-size: 2rem;
  }
  .titulo h1 {
    font-size: 3rem;
  }
}

.catalogo-de-productos .titulo-productos {
  color: white;
  text-shadow: 0px 3px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
  text-align: center;
  font-size: 2rem;
}

.catalogo-de-productos .festivos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 15px;
}

.catalogo-de-productos .festivos img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.catalogo-de-productos .festivos .festivos-uno, .catalogo-de-productos .festivos .festivos-dos, .catalogo-de-productos .festivos .festivos-tres {
  width: 100%;
  height: 98%;
  border-radius: 5px;
  overflow: hidden;
  background: gray;
  -webkit-box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  text-align: center;
  color: white;
}

.catalogo-de-productos .festivos .festivos-uno:hover, .catalogo-de-productos .festivos .festivos-dos:hover, .catalogo-de-productos .festivos .festivos-tres:hover {
  -webkit-box-shadow: 6px 14px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 14px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-1%);
          transform: translateY(-1%);
}

.catalogo-de-productos .festivos .festivos-uno h2, .catalogo-de-productos .festivos .festivos-dos h2, .catalogo-de-productos .festivos .festivos-tres h2 {
  font-size: 1rem;
}

.productos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 5px;
}

.productos img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.productos-imagen {
  width: 100%;
  height: 98%;
  border-radius: 5px;
  overflow: hidden;
  background: gray;
  -webkit-box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  text-align: center;
  color: white;
}

.productos-imagen:hover {
  -webkit-box-shadow: 6px 14px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 14px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-1%);
          transform: translateY(-1%);
}

.productos-imagen h2 {
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  .catalogo-de-productos h3, .catalogo-de-productos h1 {
    font-size: 55px;
    padding: 15px;
  }
  .catalogo-de-productos .festivos {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 32px;
  }
  .productos {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    gap: 36px;
  }
}

.nosotrosDescripcion {
  margin: 15px;
}

.nosotrosDescripcion h1 {
  text-align: center;
  font-size: 28px;
  text-align: start;
  color: white;
  text-shadow: 0px 3px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
  padding: 10px;
}

.nosotrosDescripcion .descripcion {
  background-color: #FAAF82;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
}

.nosotrosDescripcion p {
  font-size: 1rem;
  padding: 5px;
}

.container-contacto {
  margin-top: 5rem;
  margin-bottom: 9rem;
}

.container-contacto .contacto-dulcecapricho {
  background-color: #FAAF82;
}

@media screen and (min-width: 1024px) {
  .nosotrosDescripcion h1 {
    font-size: 39px;
  }
  .nosotrosDescripcion p {
    font-size: 20px;
  }
}

.novedades-titulo {
  text-align: center;
  margin-top: 10px;
  color: white;
  text-shadow: 0px 3px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
}

.novedades {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 15px;
}

.novedades img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.novedades h2 {
  font-size: 20px;
  padding: 5px;
  text-decoration: underline;
  color: white;
}

.novedades p {
  font-size: 1rem;
  color: white;
  margin: 3px;
}

.novedades-uno, .novedades-dos, .novedades-tres {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  background: gray;
  -webkit-box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.novedades-uno:hover, .novedades-dos:hover, .novedades-tres:hover {
  -webkit-box-shadow: 6px 14px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 6px 14px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

.novedades-mapa {
  text-align: center;
  margin: 1rem;
}

.novedades-mapa p {
  margin: 1rem;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0px 3px 0px #7e452a, 0px 2px 0px #7e452a, -1px 0px 0px #7e452a, 0px -1px 0px #7e452a;
}

@media screen and (min-width: 1024px) {
  .novedades {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    padding: 50px;
  }
  .body-novedades h1 {
    font-size: 43px;
  }
  .novedades-mapa p {
    font-size: 2rem;
  }
}

.main__carrito {
  height: 50rem;
}

.main__carrito .carrito-cantidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__carrito .number-of-items {
  position: relative;
  right: 3.5rem;
  width: 85px;
}

.main__carrito .carrito__items {
  text-align: center;
  margin-top: 5rem;
}
/*# sourceMappingURL=main.css.map */