.footer {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: map-get($map:$color, $key:secundario );
    
}

.container .lista__footer {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    margin-top: 13px;
}