
.nosotros__titulo {
    margin: 15px;
    h1{
        text-align: center;
        font-size: 28px;
        text-align: start;
        @include titulos;
        padding: 10px;
        strong{
            font-weight: 100;
        }
    }
    .nosotros__descripcion{
        background-color: map-get($map:$color , $key:secundario );
        border-radius: 10px;
        text-align: center;
        padding-top: 15px;
    }
    p{
        font-size: 1rem;
        padding: 5px;
    }
}
.container-contacto {
    margin-top: 5rem;
    margin-bottom: 9rem;
    .contacto-dulcecapricho {
        background-color: #FAAF82;
    }
}

@media screen and (min-width: 1024px){
    .nosotrosDescripcion{
        h1{
            font-size: 39px;
        }
        p{
            font-size: 20px;
        }
    }
}