.novedades-titulo {
    text-align: center;
    margin-top: 10px;
    @include titulos;
}
.novedades{
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    img{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    h2{
        font-size: 20px;
    padding: 5px;
    text-decoration: underline;
    @include titulos;
    }
    p{
        font-size: 1rem;
        color: $colorTitulos;
        margin: 3px;
    }
}
.novedades-uno {
    background-color: #6c757d;
    border-radius: 10px;
    padding: 5px;
}

.novedades-dos {
    @extend .novedades-uno;
}

.novedades-tres {
    @extend .novedades-uno;
}
.novedades-mapa {
    text-align: center;
    margin: 1rem;
    p{
        margin: 1rem;
        font-size: 1.5rem;
        @include titulos;
    }
}
@media screen and (min-width: 1024px) {

    .novedades {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        text-align: center;
        padding: 50px;
    }

    .body-novedades{

     h1 {
        font-size: 43px;

        }
    }
    .novedades-mapa {
     p {
        font-size: 2rem;
       }
    }

}