.novedades__titulo {
    text-align: center;
    margin-top: 10px;
    @include titulos;
}
.article__novedades{
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    img{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    h2{
        font-size: 20px;
    padding: 5px;
    text-decoration: underline;
    color: $colorTitulos;
    }
    p{
        font-size: 1rem;
        color: $colorTitulos;
        margin: 3px;
    }
}
.article__novedades-uno {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    background: gray;
    box-shadow: 3px 7px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    &:hover{
        
            box-shadow: 6px 14px 5px rgba(0,0,0,0.2);
            transform: translateY(-3%);
    
    }
}


.article__novedades-dos {
    @extend .article__novedades-uno;
}

.article__novedades-tres {
    @extend .article__novedades-uno; 
}
.novedades__mapa {
    text-align: center;
    margin: 1rem;
    p{
        margin: 1rem;
        font-size: 1.5rem;
        @include titulos;
    }
}
@media screen and (min-width: 1024px) {

    .article__novedades {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        text-align: center;
        padding: 50px;
    }

    .body-novedades{

     h1 {
        font-size: 43px;

        }
    }
    .novedades-mapa {
     p {
        font-size: 2rem;
       }
    }

}